<ion-header>
</ion-header>

<ion-content>
  <swiper-container #swiperRef>
    <swiper-slide>
      <img src="assets/onboarding/onboarding-1.png">
    </swiper-slide>
    <swiper-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Bienvenido a Te Llevo APP</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button> Registrar Conductor </ion-button>
          <ion-button> Registrar Pasajero </ion-button>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
  </swiper-container>
</ion-content>
