.header-transparent {
    --background: transparent !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .toolbar-transparent {
        --background: transparent !important;
        background: transparent !important;
    }

    ion-toolbar ion-menu-button, ion-button {
        --background: transparent;
        --color: white;
        --border-color: transparent;
      }
  }
  
ion-content {
    --background: #F2F2F2;
    --padding-top: 56px;
}

.box-sup {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 20px;

    .titulo {
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    .nombre-usuario {
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }
}

.box-med {
    padding-top: 0px;
    margin-top: 0px;
}


.titulo-cont {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 8px;
    color: #ffffff;
}

.titulo-adm {
    margin: 0;
    margin-left: 20px;
    margin-bottom: 8px;
}

swiper-container {
    margin-top: 0px;
}

swiper-slide {
    margin-top: 0px;
}

.adm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;


    .mini-card {
        display: flex;
        flex-direction: column-reverse;
        --background: #1c46ce;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 48%;
        width: 50%;
        margin: 0;
        margin-top: 8px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .tit-adm {
        font-size: 15px;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    }
}

.mini-card{
    --background: #1c46ce;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

ion-card {
    --background: #ffffff;
    border-radius: 20px;

    .img-map {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .direccion-viaje {
        font-size: 18px;
    }

    .btn-det {
        margin-top: 15px;
    }
}

.wave {
    background: rgba(29, 100, 242, 1);
    border-radius: 0 0 1000% 1000%;
    position: absolute;
    width: 200%;
    height: 40vh;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    top: 0vh;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    background: rgba(11, 67, 140, 1);
    left: 0vh;
    top: 0vh;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    background: rgba(28, 70, 206, 1);
    top: 0vh;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}