<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Actividad</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="/pasajero-home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item [button]="true" *ngFor="let aux of viajes" [routerLink]="['/viajes-pas', aux.id]">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="assets/icon/icono-car.png">
      </ion-avatar>
      <ion-note slot="end" color="tertiary"> ID {{ aux.id }} </ion-note>
      <ion-label slot="start"> Viaje <br> {{ aux.fecha }} {{ aux.hora }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <app-toolbar-pas></app-toolbar-pas>
</ion-footer>