<ion-header class="ion-no-border header-transparent">
  <ion-toolbar class="toolbar-transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/pj-profile">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="mapId" style="height: 100%; width: 100%;">
</ion-content>

<ion-list class="lista-viajes">
  <ion-item [button]="true" *ngFor="let viaje of viajes" (click)="selectViaje(viaje)">
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="assets/icon/icono-car.png">
    </ion-avatar>
    <ion-note slot="end" color="tertiary">Destino {{ viaje.destino }}</ion-note>
    <ion-label slot="start">
      Viaje <br> {{ viaje.fecha }} {{ viaje.hora }}
    </ion-label>
    <ion-button slot="end" color="primary" (click)="aceptarViaje(viaje)">
      Aceptar Viaje
    </ion-button>

  </ion-item>
</ion-list>

<ion-footer>
  <app-toolbar-pas></app-toolbar-pas>
</ion-footer>
