<ion-header class="ion-no-border header-transparent">
  <ion-toolbar class="toolbar-transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/pj-profile">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="mapId" style="height: 100%; width: 100%;">
</ion-content>

<!-- Mostrar información del viaje si el pasajero está en un viaje -->
<!--<ion-card *ngIf="estaEnViaje && viajeActual">
  <ion-card-header>
    <ion-card-title>Viaje Actual</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Destino: {{ viajeActual.destino }}</p>
    <p>Fecha: {{ viajeActual.fecha }}</p>
    <p>Hora: {{ viajeActual.hora }}</p>
    <p>Estado: {{ viajeActual.estado }}</p>
    <ion-button expand="block" color="primary" (click)="startScan()">
      Escanear código QR
    </ion-button>
  </ion-card-content>
</ion-card>-->
<!-- Tarjeta cuando el pasajero ha confirmado el viaje escaneando el QR -->
<ion-card *ngIf="estaEnViaje && viajeActual && qrEscaneado">
  <ion-card-header>
    <ion-card-title>Viaje Actual</ion-card-title>
    <ion-card-subtitle>{{ viajeActual.destino }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    <h2>Estas en un viaje con <br> <b>{{ nombreConductor }} {{ apellidoConductor }}</b></h2>
    <p>Fecha: {{ viajeActual.fecha }}</p>
    <p>Hora: {{ viajeActual.hora }}</p>
    <p>Modelo del auto: <b>{{ autoConductor }}</b> Patente: <b>{{ patenteConductor }}</b></p>
    <p>Actualmente estas en ruta!</p>
  </ion-card-content>
</ion-card>

<!-- Tarjeta cuando el pasajero tiene un viaje reservado pero no ha escaneado el QR -->
<ion-card *ngIf="estaEnViaje && viajeActual && !qrEscaneado" color="light">
  <ion-card-header class="ion-text-center">
    <ion-card-title>Viaje Actual</ion-card-title>
    <ion-card-subtitle>{{ viajeActual.destino }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    <h2>Tienes un viaje con<br> <b>{{ nombreConductor }} {{ apellidoConductor }}</b></h2>
    <p>Fecha: {{ viajeActual.fecha }}</p>
    <p>Hora: {{ viajeActual.hora }}</p>
    <p>Modelo del auto: <b>{{ autoConductor }}</b> Patente: <b>{{ patenteConductor }}</b></p>
    <p>Encuentrate con {{ nombreConductor }} en el costado de DuocUC </p>
    </ion-card-content>    
    <ion-card-content class="ion-text-center" style="display: flex; justify-content: center; align-items: center;">
      <ion-button color="primary" (click)="startScan()" style="min-height: 45px;">
        Escanear QR
      </ion-button>
      <ion-button color="danger" style="max-width: 100px; margin-left: 20px;" (click)="eliminarPasajero(idUsuario!)">Cancelar Reserva</ion-button>
    </ion-card-content>
</ion-card>


<!-- Si no está en un viaje, mostrar la lista de viajes -->
<ion-list class="lista-viajes" *ngIf="!estaEnViaje">
  <ion-item [button]="true" *ngFor="let viaje of viajes" (click)="selectViaje(viaje)">
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="assets/icon/icono-car.png">
    </ion-avatar>
    <ion-note slot="end" color="tertiary">Destino {{ viaje.destino }}</ion-note>
    <ion-label slot="start">
      Viaje <br> {{ viaje.fecha }} {{ viaje.hora }}
    </ion-label>
    <ion-button slot="end" color="primary" (click)="aceptarViaje(viaje)">
      Ver Detalle Viaje
    </ion-button>
  </ion-item>
</ion-list>



<ion-footer>
  <app-toolbar-pas></app-toolbar-pas>
</ion-footer>
