ion-toolbar ion-title {
    margin-right: 50px;
    --background: transparent;
    --color: white;
    --border-color: transparent;
}

ion-toolbar {
    --background: #1c46ce;

    ion-buttons, ion-back-button {
        --background: transparent;
        --color: white;
        --border-color: transparent;
    }
}

ion-card {
    --background: #ffffff;
    border-radius: 20px;

    .img-map {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .direccion-viaje {
        font-size: 18px;
    }

    .boton {
        margin-top: 15px;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .center-text {
    text-align: center;
  }
  