<ion-header class="ion-no-border header-transparent">
  <ion-toolbar>
    <ion-title class="ion-text-center">Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="/pasajero-home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="titulo-datos">
    <ion-avatar aria-hidden="true">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2>{{ userNombre }} {{ userApellido }}</h2>
  </div>
  <ion-content color="light">
    <ion-list class="rounded-list" [inset]="true">
      <ion-item>
        <ion-label>
          <p>Correo</p>
          <h2>{{ userEmail }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Telefono</p>
          <h2>+56 9 {{ userCelular }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Tipo de Cuenta</p>
          <h2>{{ userTipo | titlecase }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="boton-editar">
      <ion-button [routerLink]="['/pj-editprofile', userUid]">Editar Perfil</ion-button>
    </div>
  </ion-content>
</ion-content>

<ion-footer>
  <app-toolbar-pas></app-toolbar-pas>
</ion-footer>
