<ion-header class="ion-no-border header-transparent">
  <ion-toolbar>
    <ion-title class="ion-text-center">Viaje</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="/conductor-home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  
  <div class="box-sup">
    <h1 class="titulo">¿A dónde vamos?</h1>
  </div>
  <ion-card>
    <ion-card-content >
      <ion-item>
        <ion-input > </ion-input>
      </ion-item>
      <ion-text >
        Origen.
      </ion-text>
      <ion-item>
        <ion-input > </ion-input>
      </ion-item>
      <ion-text >
        Destino.
      </ion-text>
      <ion-item>
        <ion-input ></ion-input>
      </ion-item>
      <ion-text >
        Asientos disponibles.
      </ion-text>
      <ion-item>
        <ion-input ></ion-input>
      </ion-item>
      <ion-text >
        Valor.
      </ion-text>
  
    <ion-card-content >    
      <ion-button >Comienza tu viaje</ion-button>
    </ion-card-content>
  
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <app-toolbar-cond></app-toolbar-cond>
</ion-footer>