<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Actividad</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="/pasajero-home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="imagenMapa" alt="Imagen del Mapa"></ion-img>
    <ion-card-content>
      <p>Este es un pantallazo del mapa del viaje seleccionado.</p>
      <ion-button (click)="startScan()">
        Scanear
        <ion-icon name="camera" slot="start"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


