//QR
body.barcode-scanner-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
  }
  
  // Show only the barcode scanner modal
  .barcode-scanner-modal {
    visibility: visible;
  }
  
  @media (prefers-color-scheme: dark) {
    .barcode-scanner-modal {
      --background: transparent;
      --ion-background-color: transparent;
    }
  }

  ion-toolbar ion-title {
    margin-right: 50px;
    --background: transparent;
    --color: white;
    --border-color: transparent;
}

ion-toolbar {
    --background: #1c46ce;

    ion-buttons, ion-back-button {
        --background: transparent;
        --color: white;
        --border-color: transparent;
    }
}