ion-content {
    --background: #1D64F2;
    --color: #ffffff;
    position: relative;
    overflow: hidden;
}

.logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.logo {
    width: 25px; 
    height: auto;
    margin-right: 10px;
}

.titulo-app {
    font-size: 18px;
    margin: 0;
}

.box-sup {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
}

.titulo {
    font-family: "Roboto", sans-serif;
    display: flex;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 10px;
}

ion-card {
    display: flex;
    flex-direction: column;
    width: 120%;
    margin-left: -10%;
    min-height: max-content;
    border-radius: 70px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

ion-card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
}

.botones {
    margin-top: 90px;
    margin-bottom: 30px;
}

ion-button {
    --background: var(--ion-color-warning); 
    --color: #ffffff; 
    margin-left: 10%; 
    margin-right: 10%; 
    font-weight: bold;

    --background-active: var(--ion-color-warning); 
    --color-active: #ffffff;
    
    --background-hover: var(--ion-color-warning); 
    --color-hover: #ffffff;
}

ion-button[fill="outline"] {
    --border-color: var(--ion-color-warning);
    --color: var(--ion-color-warning);
    --background: transparent;
    font-weight: bold;

    --border-width: 2px;
    --border-style: solid;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); 

    &:active {
        --border-color: var(--ion-color-warning);
        --color: var(--ion-color-warning);
        --background: transparent;
        --color: #ffffff;
        --color-hover: #ffffff;
    }

    &:hover {
        --border-color: var(--ion-color-warning);
        --color: var(--ion-color-warning);
        --background: transparent;
        --color: #ffffff;
        --color-hover: #ffffff;
    }
}


.divider {
    display: flex;
    align-items: center;
    margin: 20px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #cacaca;
    width: 100%;
    max-width: calc(100% - 20%); 
    box-sizing: border-box;
    position: relative;
}

.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-top: 1px solid #b0b0b0;
    margin: 0 5px;
    position: relative;
}

.divider::before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.divider::after {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.wave {
    background: rgb(28 70 206 / 50%);
    border-radius: 1000% 1000% 0 0;
    position: absolute;
    width: 300%;
    height: 580px;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0em;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -0.5em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -1em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(1);
    }
}
