<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="logo-container">
    <img src="assets/logo.png" class="logo" />
    <h1 class="titulo-app">Te Llevo APP</h1>
  </div>

  <div class="box-sup">
    <h1 class="titulo">Selecciona un tipo <br />de usuario</h1>
  </div>
  <div class="botones">
    <ion-button expand="block" (click)="registerPas()">Pasajero</ion-button>
    <div class="divider">
      <span>o</span>
    </div>
    <ion-button expand="block" (click)="registerCond()">Conductor</ion-button>
  </div>
</ion-content>
