<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingreso al sistema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>Ingreso al sistema</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input label="Usuario" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Contraseña" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-button expand="full">Ingresar</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
