<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="box-sup">
    <h1 class="titulo">Bienvenido a <br>Te Llevo APP</h1>
  </div>
  <div class="box-med">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Estudiantes</ion-card-title>
        <ion-card-subtitle>Registrate como estudiante!</ion-card-subtitle>
      </ion-card-header>
      
      <ion-button expand="block">Registrarse</ion-button>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Conductores</ion-card-title>
        <ion-card-subtitle>Registrate como conductor!</ion-card-subtitle>
      </ion-card-header>
      
      <ion-button expand="block">Registrarse</ion-button>
    </ion-card>
    <h6>Ya tienes una cuenta?<a href="login-page">Inicia Sesión</a></h6>
  </div>
  
</ion-content>
