ion-content {
    display: flex;
    --background: #1c46ce;
    --color: #ffffff;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logo {
    width: 25px; 
    height: auto;
    margin-right: 10px;
}

.titulo-app {
    font-size: 18px;
    margin: 0;
}

.box-sup {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .titulo {
        font-family: "Roboto", sans-serif;
        display: flex;
        font-size: 35px;
        margin-top: 40%;
    }
}

ion-card {
    margin-top: 10%;
    width: 100%;
    margin-left: 0%;
    border-radius: 30px;

    ion-card-title {
        font-size: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    ion-button{
        margin-top: 10%;
    }
}