<ion-header class="ion-no-border header-transparent">
  <ion-toolbar>
    <ion-title class="ion-text-center">QR Viaje</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="/cond-viaje"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="box-sup">
    <h1 class="titulo">Viaje Confirmado!</h1>
    <p class="titulo">Muestra tu código QR a los pasajeros!</p>
  </div>
  <div class="box-med">
    <img class="img-qr" src="assets/qr/qrviaje.png" />
  </div>
  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label>Pasajeros</ion-label>
        <ion-button>Ver todos</ion-button>
      </ion-list-header>
      <ion-item>
        <ion-label>Pasajero 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pasajero 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pasajero 3</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <app-toolbar-cond></app-toolbar-cond>
</ion-footer>
