<ion-header class="ion-no-border header-transparent">
  <ion-toolbar>
    <ion-title class="ion-text-center">Conductores</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="/admin-home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item
      [button]="true"
      *ngFor="let aux of usuarios"
      [routerLink]="['/usuarios', aux.uid]"
    >
      <ion-avatar aria-hidden="true" slot="start">
        <img
          alt=""
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-note slot="end" color="tertiary"> {{ aux.tipo }} </ion-note>
      <ion-label slot="start"> {{ aux.nombre }} {{ aux.apellido }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <app-toolbar-adm></app-toolbar-adm>
</ion-footer>
